.Parent{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
h1{
    font-style: italic;
    margin: 10px;
    color: aqua;
    text-align: center;
}
p{
    font-style: normal;


}
h2{
    font-style: bold;
    color:red;
    text-align: center;
}
#click{
  color: black; 
  background-color: bisque; 
  height: 50px;
  width: 80px;
  display: block;
margin-left: auto;
margin-right: auto;
}
#first{
height: 450px;
width: 800px;
display: block;
margin-left: auto;
margin-right: auto;
}